@{
    Layout = "_Column_Layout";
    ViewData["Title"] = "My farm overview";
}

@await Html.PartialAsync("~/Views/_Partial_Views/Shared/PageTitle.cshtml", "Farm overview")

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12 col-12">
            <div class="mt-3" id="preview_statistics"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12 col-12">
            <div class="mt-3" id="detailed_statistics"></div>
        </div>
    </div>
</div>


@section ColumnContent
{
    @await Html.PartialAsync("~/Views/_Partial_Views/Overview/FarmStatisticsNavigation.cshtml")
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/morris/css/morris.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" asp-append-version="true"></script>
    <script src="~/lib/morris/js/morris.min.js" asp-append-version="true"></script>
    <script src="~/js/overview.js" asp-append-version="true"></script>
}