@model CreateFarmViewModel
@{
    ViewData["Title"] = "Create farm page";
}


<section>
    <div class="container my-1">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white mt-5 me-4 ms-4" style="border-radius: 1rem;">
                    <div class="card-body pt-3 pb-3 pe-5 ps-5 text-center box">

                        <div class="mb-md-2 mt-md-2">

                            <h2 class="fw-bold text-uppercase">Create farm</h2>
                            <p class="text-white-50 mb-5">Please enter farm name!</p>

                            <form asp-action="Create" asp-controller="Farm" method="post">

                                <div class="form-outline form-white mb-2">
                                    <label asp-for="Name" class="mb-2">Enter farm name</label><br/>
                                    <input type="text" asp-for="Name" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <h5 class="h5 text-danger">@Model?.ErrorMessage</h5>
                                <button class="btn btn-outline-light btn-lg my-4" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/create_farm.css" asp-append-version="true"/>
}